/* --------------------------------
   Mobile base CSS styles
---------------------------------*/

:root {
  --primary: #0b1c2c;
  --secondary: #da291c;
  --accent1: #c59d5f;
  --accent2: #f8f5f2;
  --accent3: #971b2f;
  --text: #333333;
  --max-w: 1200px;
  --nav-h: 100px;
  --nav-font-size: 1rem;
  --font-header: "PT Serif", serif;
  --font-body: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-body);
  color: var(--text);
  line-height: 1.25rem;
}

body {
  margin: 0;

  max-width: 100%;
  overflow-x: hidden;
}
/* Header CSS styles */

header {
  height: var(--nav-h);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: var(--accent2);
  padding: 0 1.5rem;
  box-sizing: border-box;
}

header .logo {
  height: 40px;
  width: auto;
  margin: 0;
}

/* menu css styles */
#menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--primary);
  background-color: transparent;
}

#menu::before {
  content: "☰";
}

#menu.show::before {
  content: "✖";
}

nav {
  display: block;
}

.nav {
  display: none;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background: var(--accent2);
  position: fixed;
  top: var(--nav-h);
  left: 0;
  width: 100%;
  list-style: none;
  z-index: 999;
  margin: 0;
  padding: 1rem;
}

.nav.show {
  display: flex;
}

.nav li {
  width: 100%;
}

.nav a {
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: var(--secondary);
  text-decoration: none;
  font-size: var(--nav-font-size);
  transition: all 0.3s ease;
}

.nav a:hover {
  background: var(--secondary);
  color: var(--accent2);
}

/* main section */

section,
.hero-block,
.hero-visual-container {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin: 0 auto;
}

.hero-visual-container {
  display: grid;
  grid-template-areas: "hero-stack";
  align-items: end;
  width: 100%;
}

.hero-image-wrapper {
  width: 100%;
}
.hero-image-wrapper,
.hero-title-overlay {
  grid-area: hero-stack;
}
.hero-image {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}
/* 2. The Floating Title */
.hero-title-overlay {
  padding: 1.5rem;
  z-index: 2;
}

.hero-title-overlay h1 {
  color: var(--accent2);
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 0.85;
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.hero-subtitle-bar {
  background-color: var(--accent2);
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-subtitle-bar h2 {
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  max-width: 280px;
  text-transform: uppercase;
}

article {
  padding: 2rem 1.5rem;
}

article h2 {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 900;
  line-height: 0.85;
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(216, 215, 215, 0.3);
  margin: 0;
}

article p {
  text-transform: capitalize;
  text-align: justify;
}

.content-image-container {
  width: 100%;
}
.content-image,
.content-image_small {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.content-image_small {
  aspect-ratio: 3 / 4;
  padding: 2rem;
}

.cta-btn {
  width: 80%;
  text-align: center;
  display: block;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent2);
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem auto 0;
  transition: background-color 0.3s ease;
  border: 2px solid var(--primary);
}

.content-section .cta-btn:hover {
  background-color: var(--secondary);
  color: var(--accent2);
  border: none;
}
/* footer*/
footer {
  border-top: 1px solid #e5e7eb;
  background: var(--accent2);
  padding: 1.25rem 1rem;
  color: var(--secondary);
  font-size: 0.95rem;
  text-align: center;
}

footer p {
  margin: 0.25rem 0;
}
