body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

main {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  animation: fade 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
