:root {
  --primary-color: #594d28;
  --secondary-color: #83d56d;
  --accent: #61733c;
  --accent2: #ddd;
  --white: #ffffff;
}

/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
  margin: 0;
}
h1 {
  font-size: 1.5em;
  color: var(--white);
}
p {
  line-height: 1.3em;
  font-family: "Montserrat", "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
  display: grid;
  grid-template: auto 1fr / auto 1fr auto;
  min-height: 100vh;
  margin: 0 auto;
}
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  grid-column: 1 / 4;
}
header h1 {
  text-align: center;
  padding: 1em;
}
nav {
  grid-column: 1/4;
  background-color: var(--accent);
  margin: 0 auto;
  padding: 1em;
  justify-content: space-around;
  font-family: "Montserrat", "Roboto", sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

main {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template: auto 1fr / 2fr 1fr 1.5fr;
  gap: 20px;
  padding: 1em 0;
}

#title {
  grid-column: 1/4;
  text-align: center;
  padding: 1em;
  color: var(--secondary-color);
}
#about-me {
  grid-column: 1/3;
  background-color: var(--accent2);
  border-radius: 10px;
  padding: 1em;
}

#about-me h2,
#resources h2 {
  text-align: center;
  background-color: var(--accent);
  padding: 0.5em;
  color: var(--white);
  border-radius: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.about-content_1,
.about-content_2 {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 1em;
  align-items: center;
}

.about-content_1 {
  border-bottom: 1px solid rgba(97, 115, 60, 0.3);
}
.about-content_1 p {
  flex: 2;
}

.about-content_1 img {
  flex: 1;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}
.about-content_2 p {
  flex: 1;
}

.about-content_2 img {
  flex: 1;
  max-width: 200px;
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
}
#resources {
  border-radius: 10px;
  grid-column: 3;
  padding: 1em;
  border: 2px solid var(--accent);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--accent2);
}

#resources ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#resources li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}
#resources li a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

footer {
  background-color: var(--accent);
  grid-column: 1 / 4;
  color: white;
  text-align: center;
  padding: 0.5;
}
