/* =========================
   Global Theme & Variables
   ========================= */
:root {
  /* Flag-based colors */
  --primary: #fcd116;
  --secondary: #05359c;
  --secondary_2: #ce1126;
  --color-dark: #1a1a1a;
  --color-light: #f5f5f5;
  --color-grey: #d9d9d9;
  --max-width: 1200px;
  --max-width-sm: 700px;
  --font-main: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Google Sans", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.2;
}

p {
  font-family: var(--font-main);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0;
}

h1,
h2,
h3 {
  font-family: "Google Sans", sans-serif;
  margin: 0 0 var(--space-md);
  line-height: 1.2;
}

p {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: var(--primary);
  font-weight: 700;
  border-bottom: var(--secondary) 12px solid;
}
footer {
  background-color: var(--primary);
  border-top: var(--secondary) 12px solid;
  text-align: center;
  color: #000;
}

.site-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-dark);
  text-align: center;
  padding: 2rem;
}

main {
  flex: 1;
  position: relative;
}
.hero-image-container {
  width: 100%;
  display: block;
  line-height: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

.blurb_data,
.blurb-weather {
  background: var(--color-light);
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.card-heading {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.data-table {
  background-color: var(--color-light);
  font-family: "Open Sans", sans-serif;
  width: auto;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.data-table th {
  width: 50%;
  text-align: right;
  font-weight: 600;
  white-space: nowrap;
  padding: 0rem 1rem;
}

.data-table td {
  width: 50%;
  text-align: left;
  color: var(--blue);
}

.weather-icon-mobile {
  text-align: center;
  margin-bottom: 1rem;
}

.weather-icon-mobile::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../images_place/cloud-sun-rain-solid-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
