/* --------------------------------
   Larger-screen styles
---------------------------------*/

@media (min-width: 646px) {
  header {
    padding: 1rem 1rem;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: static;
    background: transparent;
    padding: 0;
    margin: 0;
    width: auto;
    font-size: 0.5rem;
  }

  .navigation li {
    flex: 0;
    width: 100%;
    display: inline-block;
    padding: 0 1rem;
  }

  .navigation a {
    text-align: center;
    background: transparent;
    color: var(--secondary);
  }

  #menu {
    display: none;
  }
  /* Images grid */
  .images-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    padding-inline: 1.25rem;
  }

  main h1 {
    font-size: 1.75rem;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    padding-top: var(--nav-h);
  }
}

@media (min-width: 900px) {
  main h1 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .navigation {
    justify-content: flex-end;
  }
  .navigation a {
    padding: 1rem;
  }

  .images-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem 1.25rem;
    padding-inline: 1.25rem;
  }

  #page-title {
    font-size: 1.35rem;
  }
}

@media (min-width: 1200px) {
  .images-section {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding-inline: 2rem;
  }

  main h1 {
    font-size: 2rem;
  }
}
